.DS_Store
.cache
.pytest_cache
dyfi/config.ini
*.pyc
*/__pycache__
*/*/__pycache__
*/*/*/__pychache__
*/*/*/*/__pycache__
dyfi/modules/utm/__pychache__
__pycache__
makedoc
docs/_templates
docs/_build
db.json
.ipynb*
tmp.*
data/*
*.swp
codecov.yml
.coverage
coverage.xml
leaflet/data.js
leaflet/screenshot.png
*.orig
tests/test*
tests/*.geojson
tests/*.png
tests/data/*.png
testdyfi
screenshot.png
setup_env.sh.disabled
log.*
tests/db/*
movie/*.apng
event.db
bin/config.yml

