.DS_Store
.cache
.pytest_cache
dyfi/config.ini
*.pyc
*/__pycache__
*/*/__pycache__
*/*/*/__pychache__
*/*/*/*/__pycache__
dyfi/modules/utm/__pychache__
__pycache__
makedoc
docs/_templates
docs/_build
db.json
.ipynb*
tmp.*
data/*
*.swp
codecov.yml
.coverage
coverage.xml
leaflet/data.js
leaflet/screenshot.png
*.orig
tests/*.geojson
tests/*.png
tests/data/*.png
testdyfi
screenshot.png
setup_env.sh.disabled
*.log
*.err
log.*
tests/db/*
event.db
movie/*.apng

# These auxiliary commands are local server dependent (and not properly
# generalized), don't export yet
bin/localconfig.yml
bin/get_entries_simple.sh
bin/cron_getentries.sh
bin/cron_trigger.sh
bin/restore_db.sh
bin/cron_*

