#! /bin/bash

#############################################
#
# Update this for your configuration
#
#############################################

MYHOST='thishost'
declare -a SERVERS
SERVERS=(user@server1.com user@server2.com)
INPUTDIR='/remotedirectory/incoming.'$MYHOST
TIMEOUT=15
DESTINATION=./data/incoming

#############################################
#
# End configuration section
#
#############################################

for SERVER in "${SERVERS[@]}"
do
    getcommand="/usr/bin/rsync --verbose --exclude 'tmp.*' --timeout=$TIMEOUT -ulpotgrz $SERVER:$INPUTDIR/. $DESTINATION"
    echo $getcommand
    echo $($getcommand)
done

echo 'Files in '$DESTINATION':'
echo $(ls -1 $DESTINATION | wc | awk '{print $1}')
